<% layout('layouts/boilerplate') %>
    <div class="row gy-3">
        <section class="col-xl-6">
            <div class="card h-100 shadow bodyCard text-white">
                <div class="card-body">
                    <h2 class="card-title border-bottom pb-3 mb-3">Edit your Info</h1>
                        <form id="profileForm" method="POST" action="/profile?_method=PUT">

                            <div id="namePlaceholder" class="row">
                                <div class="col-9">
                                    <h5 class="text-secondary">Real Name</h5>
                                    <p>
                                        <%=user.displayname %>
                                    </p>
                                </div>
                                <div class="col-3">
                                    <button id="editNameBtn" type="button" class="ms-auto mt-2 d-block btn btn-secondary">Edit</button>
                                </div>
                            </div>

                            <div id="nameInput" class="mb-3 d-none">
                                <label for="displayname" class="form-label text-secondary">Real Name</label>
                                <input type="text" class="form-control" id="displayname" name="displayname"
                                    placeholder="<%=user.displayname%>">
                            </div>

                            <div id="emailPlaceholder" class="row">
                                <div class="col-9">
                                    <h5 class="text-secondary">Email</h5>
                                    <p>
                                        <%=user.email %>
                                    </p>
                                </div>
                                <div class="col-3">
                                    <button id="editEmailBtn" type="button" class="ms-auto mt-2 d-block btn btn-secondary">Edit</button>
                                </div>
                            </div>

                            <div id="emailInput" class="mb-3 d-none">
                                <label for="email" class="form-label text-secondary">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="<%=user.email%>"
                                    autocomplete="on" name="email">
                            </div>

                            <div id="salaryPlaceholder" class="row">
                                <div class="col-9">
                                    <h5 class="text-secondary">Net Income</h5>
                                    <p>$<%=user.salary %></p>
                                </div>
                                <div class="col-3">
                                    <button id="editSalaryBtn" type="button" class="ms-auto mt-2 d-block btn btn-secondary">Edit</button>
                                </div>
                            </div>

                            <div id="salaryInput" class="mb-3 d-none">
                                <label for="salary" class="form-label text-secondary">Net Income</label>
                                <input type="number" class="form-control" id="salary" placeholder="$<%=user.salary %>"
                                    name="salary">
                                <div id="reasonHelp" class="form-text text-info">Net income is income after taxes,
                                    deductions, etc</div>
                            </div>
                            <button type="submit" class="btn btn-primary">Edit Profile</button>
                        </form>
                </div>
            </div>
        </section>
        <section class="col-xl-6">
            <div class="card h-100 shadow bodyCard text-white">
                <div class="card-body">
                    <h2 class="card-title border-bottom pb-3 mb-3">Change your password</h1>
                        <form method="POST" action="/password?_method=PUT">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                                    required>
                                <label for="currentPassword" class="form-label text-secondary">Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="verifyPassword" name="verifyPassword"
                                    required>
                                <label for="verifyPassword" class="form-label text-secondary">Verify Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password" name="password" required>
                                <label for="password" class="form-label text-secondary">New Password</label>
                            </div>
                            <button type="submit" class="btn btn-success">Change Password</button>
                        </form>
                </div>
            </div>
        </section>

    </div>
    <script src="/js/profile.js"></script>